body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f2f2f2;
}

.container{
    width:80%;
    margin:auto;
    margin-top:30px;
}

h1{
    text-align:center;
    color:#0b5394;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

button{
    padding:12px 20px;
    background:#0b5394;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin:10px 5px;
    font-size:16px;
}

button:hover{
    background:#073763;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
    background:white;
}

table th{
    background:#0b5394;
    color:white;
    padding:10px;
}

table td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

tr:nth-child(even){
    background:#f9f9f9;
}